<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="\static\CSS\style.css" />
    <title> Новый читатель </title>
</head>
<body>
<div class="menu">
    <ul>
        <li class ="active"><a href={{url_for("index")}}>Новый читатель</a></li>

    </ul>
</div>
<div class="block">
<p>
    <form action="{{url_for('index')}}" method ="get">
    <p>
    Имя читателя: <input type="text" name="name">
    </p>
    <button name="add" value='1'>Добавить читателя</button>
    <button name="cancel" value='0'>Отменить</button>
    </form>
</p>
</div>
</body>
</html>